@import '../../commomStyles/common';
button {
    &.button {
        align-items: center;
        border-radius: 72px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        .focus-ripple {
            left: 0;
            position: absolute;
            top: 0;
        }
        .base {
            align-items: center;
            display: inline-flex;
            flex: 0 0 auto;
            justify-content: center;
            position: relative;
        }
        .progress-circular-instance {
            flex: 0 0 auto !important;
        }
        .class {
            margin-left: -1304px !important;
            margin-top: -1263px !important;
        }
        .class-2 {
            margin-left: -1305px !important;
            margin-top: -1344px !important;
        }
        .class-3 {
            margin-left: -2438px !important;
            margin-top: -1176px !important;
        }
        .class-4 {
            margin-left: -2440px !important;
            margin-top: -1263px !important;
        }
        .class-5 {
            margin-left: -2441px !important;
            margin-top: -1344px !important;
        }
        .class-6 {
            margin-left: -3565px !important;
            margin-top: -1263px !important;
        }
        .class-7 {
            margin-left: -3563px !important;
            margin-top: -1176px !important;
        }
        .class-8 {
            margin-left: -3566px !important;
            margin-top: -1344px !important;
        }
        .class-9 {
            margin-left: -1302px !important;
            margin-top: -1176px !important;
        }
        .text-wrapper {
            margin-top: -1px;
            position: relative;
            white-space: nowrap;
            width: fit-content;
            text-transform: capitalize;
        }
    }
    &.button.hovered {
        overflow: hidden;
    }
    &.button.inherit-white {
        overflow: hidden;
    }
    &.button.warning {
        overflow: hidden;
    }
    &.button.variant-outlined {
        border: 1px solid;
    }
    &.button.disabled {
        overflow: hidden;
        .text-wrapper {
            color: $color_1;
        }
    }
    &.button.enabled {
        overflow: hidden;
    }
    &.button.secondary {
        overflow: hidden;
    }
    &.button.size-medium {
        overflow: hidden;
        .focus-ripple {
            height: 36px;
        }
        .base {
            gap: 6px;
        }
        .text-wrapper {
            font-family: $font-family_2;
            font-size: var(--components-button-medium-font-size);
            font-style: var(--components-button-medium-font-style);
            font-weight: var(--components-button-medium-font-weight);
            letter-spacing: var(--components-button-medium-letter-spacing);
            line-height: var(--components-button-medium-line-height);
        }
    }
    &.button.variant-text.primary {
        overflow: hidden;
    }
    &.button.loading.variant-contained {
        background-color: $background-color_1;
    }
    &.button.disabled.variant-outlined {
        border-color: $border-color_1;
    }
    &.button.size-medium.variant-contained {
        padding: 6px 16px;
        .focus-ripple {
            width: 66px;
        }
    }
    &.button.inherit-text.variant-outlined {
        overflow: hidden;
    }
    &.button.variant-text.size-small {
        padding: 4px 5px;
        .focus-ripple {
            width: 42px;
        }
    }
    &.button.variant-text.focused {
        overflow: hidden;
    }
    &.button.focused.info {
        overflow: hidden;
    }
    &.button.size-medium.variant-outlined {
        padding: 6px 16px;
        .focus-ripple {
            width: 66px;
        }
    }
    &.button.primary.variant-outlined {
        overflow: hidden;
    }
    &.button.inherit-text.variant-contained {
        overflow: hidden;
    }
    &.button.size-large.variant-outlined {
        overflow: hidden;
        padding: 8px 22px;
        .focus-ripple {
            width: 80px;
        }
    }
    &.button.focused.inherit-text {
        overflow: hidden;
        .text-wrapper {
            color: $color_2;
        }
    }
    &.button.error.size-small {
        overflow: hidden;
    }
    &.button.variant-outlined.info {
        overflow: hidden;
    }
    &.button.primary.size-small {
        overflow: hidden;
    }
    &.button.focused.variant-outlined {
        overflow: hidden;
    }
    &.button.focused.size-small {
        overflow: hidden;
    }
    &.button.size-small.variant-outlined {
        padding: 4px 10px;
        .focus-ripple {
            width: 52px;
        }
    }
    &.button.disabled.variant-contained {
        background-color: $background-color_1;
    }
    &.button.size-small.variant-contained {
        padding: 4px 10px;
        .focus-ripple {
            width: 52px;
        }
    }
    &.button.info.variant-contained {
        overflow: hidden;
    }
    &.button.error.variant-outlined {
        overflow: hidden;
    }
    &.button.focused.success {
        overflow: hidden;
    }
    &.button.error.variant-contained {
        overflow: hidden;
    }
    &.button.variant-text.size-medium {
        padding: 6px 8px;
        .focus-ripple {
            width: 50px;
        }
    }
    &.button.variant-text.size-large {
        padding: 8px 11px;
        .focus-ripple {
            width: 58px;
        }
    }
    &.button.size-small.info {
        overflow: hidden;
    }
    &.button.primary.loading {
        overflow: hidden;
    }
    &.button.size-large.variant-contained {
        padding: 8px 22px;
        .focus-ripple {
            width: 80px;
        }
    }
    &.button.error.focused {
        overflow: hidden;
    }
    &.button.loading.variant-outlined {
        border-color: $border-color_1;
    }
    &.button.warning.hovered.variant-contained {
        background-color: $background-color_2;
        .text-wrapper {
            color: $color_4;
        }
    }
    &.button.error.hovered.variant-contained {
        background-color: $background-color_3;
        .text-wrapper {
            color: $color_5;
        }
    }
    &.button.enabled.inherit-text.variant-contained {
        background-color: $background-color_4;
    }
    &.button.focused.secondary.variant-outlined {
        border-color: $border-color_2;
        .text-wrapper {
            color: $color_6;
        }
    }
    &.button.focused.primary.variant-contained {
        background-color: $background-color_5;
        .text-wrapper {
            color: $color_7;
        }
    }
    &.button.variant-text.hovered.info {
        background-color: $background-color_6;
        .text-wrapper {
            color: $color_8;
        }
    }
    &.button.success.hovered.variant-outlined {
        background-color: $background-color_7;
        border-color: $border-color_3;
        .text-wrapper {
            color: $color_10;
        }
    }
    &.button.enabled.variant-outlined.info {
        border-color: $border-color_4;
        .text-wrapper {
            color: $color_8;
        }
    }
    &.button.enabled.inherit-white.variant-contained {
        background-color: $background-color_4;
    }
    &.button.success.hovered.variant-contained {
        background-color: $background-color_8;
        .text-wrapper {
            color: $color_11;
        }
    }
    &.button.error.focused.variant-outlined {
        border-color: $border-color_5;
        .text-wrapper {
            color: $color_12;
        }
    }
    &.button.variant-text.success.hovered {
        background-color: $background-color_7;
        .text-wrapper {
            color: $color_10;
        }
    }
    &.button.hovered.inherit-text.variant-contained {
        background-color: $background-color_9;
    }
    &.button.hovered.variant-outlined.info {
        background-color: $background-color_6;
        border-color: $border-color_4;
        .text-wrapper {
            color: $color_8;
        }
    }
    &.button.loading.size-large.variant-contained {
        overflow: hidden;
    }
    &.button.success.enabled.variant-outlined {
        border-color: $border-color_3;
        .text-wrapper {
            color: $color_10;
        }
    }
    &.button.success.size-large.variant-contained {
        overflow: hidden;
    }
    &.button.variant-text.loading.size-large {
        border: 0px none;
        border-color: $border-color_1;
    }
    &.button.primary.hovered.variant-outlined {
        background-color: $background-color_10;
        border-color: $border-color_6;
        .text-wrapper {
            color: $color_9;
        }
    }
    &.button.focused.variant-outlined.info {
        border-color: $border-color_4;
        .text-wrapper {
            color: $color_8;
        }
    }
    &.button.enabled.warning.variant-contained {
        background-color: $background-color_11;
        .text-wrapper {
            color: $color_4;
        }
    }
    &.button.secondary.enabled.variant-contained {
        background-color: $background-color_12;
        .text-wrapper {
            color: $color_13;
        }
    }
    &.button.info.hovered.variant-contained {
        background-color: $background-color_13;
        .text-wrapper {
            color: $color_14;
        }
    }
    &.button.focused.success.variant-contained {
        background-color: $background-color_14;
        .text-wrapper {
            color: $color_11;
        }
    }
    &.button.enabled.variant-outlined.inherit-white {
        border-color: $border-color_7;
    }
    &.button.hovered.inherit-white.variant-contained {
        background-color: $background-color_9;
    }
    &.button.focused.primary.variant-outlined {
        border-color: $border-color_6;
        .text-wrapper {
            color: $color_9;
        }
    }
    &.button.primary.variant-outlined.enabled {
        border-color: $border-color_6;
        .text-wrapper {
            color: $color_9;
        }
    }
    &.button.focused.secondary.variant-contained {
        background-color: $background-color_12;
        .text-wrapper {
            color: $color_13;
        }
    }
    &.button.focused.warning.variant-contained {
        background-color: $background-color_11;
        .text-wrapper {
            color: $color_4;
        }
    }
    &.button.variant-text.hovered.warning {
        background-color: $background-color_15;
        .text-wrapper {
            color: $color_15;
        }
    }
    &.button.secondary.hovered.variant-contained {
        background-color: $background-color_16;
        .text-wrapper {
            color: $color_13;
        }
    }
    &.button.primary.hovered.variant-contained {
        background-color: $background-color_17;
        .text-wrapper {
            color: $color_7;
        }
    }
    &.button.secondary.variant-outlined.enabled {
        border-color: $border-color_2;
        .text-wrapper {
            color: $color_6;
        }
    }
    &.button.focused.inherit-text.variant-contained {
        background-color: $background-color_4;
    }
    &.button.variant-text.hovered.inherit-text {
        background-color: $background-color_18;
    }
    &.button.variant-text.size-large.disabled {
        border: 0px none;
        border-color: $border-color_1;
    }
    &.button.success.enabled.variant-contained {
        background-color: $background-color_14;
        .text-wrapper {
            color: $color_11;
        }
    }
    &.button.info.enabled.variant-contained {
        background-color: $background-color_19;
        .text-wrapper {
            color: $color_14;
        }
    }
    &.button.focused.variant-outlined.warning {
        border-color: $border-color_8;
        .text-wrapper {
            color: $color_15;
        }
    }
    &.button.error.enabled.variant-outlined {
        border-color: $border-color_5;
        .text-wrapper {
            color: $color_12;
        }
    }
    &.button.focused.success.variant-outlined {
        border-color: $border-color_3;
        .text-wrapper {
            color: $color_10;
        }
    }
    &.button.hovered.variant-outlined.inherit-white {
        background-color: $background-color_18;
        border-color: $border-color_7;
    }
    &.button.error.hovered.variant-outlined {
        background-color: $background-color_20;
        border-color: $border-color_5;
        .text-wrapper {
            color: $color_12;
        }
    }
    &.button.hovered.variant-outlined.warning {
        background-color: $background-color_15;
        border-color: $border-color_8;
        .text-wrapper {
            color: $color_15;
        }
    }
    &.button.error.enabled.variant-contained {
        background-color: $background-color_21;
        .text-wrapper {
            color: $color_5;
        }
    }
    &.button.variant-text.loading.size-medium {
        border: 0px none;
        border-color: $border-color_1;
    }
    &.button.primary.enabled.variant-contained {
        background-color: $background-color_5;
        .text-wrapper {
            color: $color_7;
        }
    }
    &.button.secondary.hovered.variant-outlined {
        background-color: $background-color_22;
        border-color: $border-color_2;
        .text-wrapper {
            color: $color_6;
        }
    }
    &.button.variant-text.size-medium.disabled {
        border: 0px none;
        border-color: $border-color_1;
    }
    &.button.error.focused.variant-contained {
        background-color: $background-color_21;
        .text-wrapper {
            color: $color_5;
        }
    }
    &.button.variant-text.error.hovered {
        background-color: $background-color_20;
        .text-wrapper {
            color: $color_12;
        }
    }
    &.button.inherit-text.focused.variant-outlined {
        border-color: $border-color_9;
    }
    &.button.inherit-text.hovered.variant-outlined {
        background-color: $background-color_18;
        border-color: $border-color_9;
    }
    &.button.focused.variant-outlined.inherit-white {
        border-color: $border-color_7;
    }
    &.button.focused.inherit-white.variant-contained {
        background-color: $background-color_4;
    }
    &.button.inherit-text.enabled.variant-outlined {
        border-color: $border-color_9;
    }
    &.button.variant-text.secondary.hovered {
        background-color: $background-color_22;
        .text-wrapper {
            color: $color_6;
        }
    }
    &.button.enabled.variant-outlined.warning {
        border-color: $border-color_8;
        .text-wrapper {
            color: $color_15;
        }
    }
    &.button.variant-text.primary.hovered {
        background-color: $background-color_10;
        .text-wrapper {
            color: $color_9;
        }
    }
    &.button.info.focused.variant-contained {
        background-color: $background-color_19;
        .text-wrapper {
            color: $color_14;
        }
    }
    &.button.variant-text.hovered.inherit-white {
        background-color: $background-color_18;
    }
    &.button.size-large {
        .focus-ripple {
            height: 42px;
        }
        .base {
            gap: 8px;
        }
        .text-wrapper {
            font-family: $font-family_1;
            font-size: var(--components-button-large-font-size);
            font-style: var(--components-button-large-font-style);
            font-weight: var(--components-button-large-font-weight);
            letter-spacing: var(--components-button-large-letter-spacing);
            line-height: var(--components-button-large-line-height);
        }
    }
    &.button.size-small {
        .focus-ripple {
            height: 30px;
        }
        .base {
            gap: 8px;
        }
        .text-wrapper {
            font-family: $font-family_3;
            font-size: var(--components-button-small-font-size);
            font-style: var(--components-button-small-font-style);
            font-weight: var(--components-button-small-font-weight);
            letter-spacing: var(--components-button-small-letter-spacing);
            line-height: var(--components-button-small-line-height);
        }
    }
    &.button.loading {
        .text-wrapper {
            color: $color_1;
        }
    }
    &.button.hovered.inherit-white {
        .text-wrapper {
            color: $color_3;
        }
    }
    &.button.enabled.inherit-white {
        .text-wrapper {
            color: $color_3;
        }
    }
    &.button.enabled.inherit-text {
        .text-wrapper {
            color: $color_2;
        }
    }
    &.button.hovered.inherit-text {
        .text-wrapper {
            color: $color_2;
        }
    }
    &.button.focused.inherit-white {
        .text-wrapper {
            color: $color_3;
        }
    }
    &.button.variant-text.primary.enabled {
        .text-wrapper {
            color: $color_9;
        }
    }
    &.button.variant-text.focused.success {
        .text-wrapper {
            color: $color_10;
        }
    }
    &.button.variant-text.success.enabled {
        .text-wrapper {
            color: $color_10;
        }
    }
    &.button.variant-text.focused.primary {
        .text-wrapper {
            color: $color_9;
        }
    }
    &.button.variant-text.focused.info {
        .text-wrapper {
            color: $color_8;
        }
    }
    &.button.variant-text.secondary.enabled {
        .text-wrapper {
            color: $color_6;
        }
    }
    &.button.variant-text.enabled.warning {
        .text-wrapper {
            color: $color_15;
        }
    }
    &.button.variant-text.focused.warning {
        .text-wrapper {
            color: $color_15;
        }
    }
    &.button.variant-text.error.enabled {
        .text-wrapper {
            color: $color_12;
        }
    }
    &.button.error.focused.variant-text {
        .text-wrapper {
            color: $color_12;
        }
    }
    &.button.variant-text.focused.secondary {
        .text-wrapper {
            color: $color_6;
        }
    }
    &.button.variant-text.enabled.info {
        .text-wrapper {
            color: $color_8;
        }
    }
}
