$primary-default: #2eb4ef;
$text-descriptive-grey: #737373;
$lite-grey-border-color: #7373738c;
$text-color-black: #113248;
$help-text-color: rgba(0, 0, 0, 0.6);

$text-descriptive-grey: #737373; // disabled secondary button text color
$primary-hover-color: #119cd9;
$secondary-default: #113248; // secondary button text color
$light-border-color: #d3d5d6; // secondary button border color

$tab-background-color: #f3f3f3;
$theme-danger-color: #b92b28;
$theme-green-color: #0cc653;
