:root {
    --actiondisabled: rgba(30, 33, 36, 0.38);
    --actiondisabledbackground: rgba(30, 33, 36, 0.12);
    --actionfocus: rgba(30, 33, 36, 0.12);
    --actionhover: rgba(30, 33, 36, 0.04);
    --actionselected: rgba(30, 33, 36, 0.08);
    --avatarfill: rgba(182, 189, 195, 1);
    --backgrounddefault: rgba(255, 255, 255, 1);
    --backgroundpaper-elevation-0: rgba(255, 255, 255, 1);
    --chipdefaultenabledborder: rgba(182, 189, 195, 1);
    --chipdefaultfocusfill: rgba(30, 33, 36, 0.12);
    --chipdefaulthoverfill: rgba(30, 33, 36, 0.12);
    --components-avatar-initials-font-family: 'SourceSans 3-Regular', Helvetica;
    --components-avatar-initials-font-size: 20px;
    --components-avatar-initials-font-style: normal;
    --components-avatar-initials-font-weight: 400;
    --components-avatar-initials-letter-spacing: 0.14000000059604645px;
    --components-avatar-initials-line-height: 20px;
    --components-badge-label-font-family: 'SourceSans 3-SemiBold', Helvetica;
    --components-badge-label-font-size: 12px;
    --components-badge-label-font-style: normal;
    --components-badge-label-font-weight: 600;
    --components-badge-label-letter-spacing: 0.14000000059604645px;
    --components-badge-label-line-height: 16px;
    --components-button-large-font-family: 'SourceSans 3-Medium', Helvetica;
    --components-button-large-font-size: 15px;
    --components-button-large-font-style: normal;
    --components-button-large-font-weight: 500;
    --components-button-large-letter-spacing: 0.20000000298023224px;
    --components-button-large-line-height: 26px;
    --components-button-medium-font-family: 'SourceSans 3-Medium', Helvetica;
    --components-button-medium-font-size: 14px;
    --components-button-medium-font-style: normal;
    --components-button-medium-font-weight: 500;
    --components-button-medium-letter-spacing: 0.30000001192092896px;
    --components-button-medium-line-height: 24px;
    --components-button-small-font-family: 'SourceSans 3-Medium', Helvetica;
    --components-button-small-font-size: 13px;
    --components-button-small-font-style: normal;
    --components-button-small-font-weight: 500;
    --components-button-small-letter-spacing: 0.4000000059604645px;
    --components-button-small-line-height: 22px;
    --components-chip-label-font-family: 'SourceSans 3-Regular', Helvetica;
    --components-chip-label-font-size: 13px;
    --components-chip-label-font-style: normal;
    --components-chip-label-font-weight: 400;
    --components-chip-label-letter-spacing: 0.1599999964237213px;
    --components-chip-label-line-height: 18px;
    --components-list-subheader-font-family: 'SourceSans 3-Medium', Helvetica;
    --components-list-subheader-font-size: 14px;
    --components-list-subheader-font-style: normal;
    --components-list-subheader-font-weight: 500;
    --components-list-subheader-letter-spacing: 0.10000000149011612px;
    --components-list-subheader-line-height: 48px;
    --components-table-header-font-family: 'SourceSans 3-Medium', Helvetica;
    --components-table-header-font-size: 14px;
    --components-table-header-font-style: normal;
    --components-table-header-font-weight: 500;
    --components-table-header-letter-spacing: 0.17000000178813934px;
    --components-table-header-line-height: 24px;
    --coolgray-200: rgba(235, 237, 239, 1);
    --errorcontrast: rgba(255, 255, 255, 1);
    --errordark: rgba(128, 0, 9, 1);
    --errormain: rgba(183, 0, 14, 1);
    --errorstatesfocusvisible: rgba(183, 0, 14, 0.3);
    --errorstateshover: rgba(183, 0, 14, 0.04);
    --errorstatesoutlinedborder: rgba(183, 0, 14, 0.5);
    --infocontrast: rgba(255, 255, 255, 1);
    --infodark: rgba(0, 86, 133, 1);
    --infomain: rgba(0, 124, 190, 1);
    --infostatesfocusvisible: rgba(2, 136, 209, 0.3);
    --infostateshover: rgba(2, 136, 209, 0.04);
    --infostatesoutlinedborder: rgba(2, 136, 209, 0.5);
    --inherittextprimarymain: rgba(30, 33, 36, 1);
    --inheritwhitefocus: rgba(255, 255, 255, 0.12);
    --inheritwhitehover: rgba(255, 255, 255, 0.04);
    --inheritwhitemain: rgba(255, 255, 255, 1);
    --primarycontrast: rgba(255, 255, 255, 1);
    --primarydark: rgba(0, 51, 100, 1);
    --primarymain: rgba(0, 73, 144, 1);
    --primarystatesfocusvisible: rgba(0, 124, 190, 0.3);
    --primarystateshover: rgba(0, 124, 190, 0.04);
    --primarystatesoutlinedborder: rgba(0, 124, 190, 0.5);
    --primarystatesselected: rgba(0, 124, 190, 0.08);
    --secondarycontrast: rgba(255, 255, 255, 1);
    --secondarydark: rgba(42, 46, 51, 1);
    --secondarymain: rgba(60, 66, 73, 1);
    --secondarystatesfocusvisible: rgba(60, 66, 73, 0.3);
    --secondarystateshover: rgba(60, 66, 73, 0.04);
    --secondarystatesoutlinedborder: rgba(60, 66, 73, 0.5);
    --successcontrast: rgba(255, 255, 255, 1);
    --successdark: rgba(64, 90, 16, 1);
    --successmain: rgba(92, 129, 24, 1);
    --successstatesfocusvisible: rgba(110, 154, 28, 0.3);
    --successstateshover: rgba(110, 154, 28, 0.04);
    --successstatesoutlinedborder: rgba(110, 154, 28, 0.5);
    --textdisabled: rgba(106, 117, 129, 1);
    --textprimary: rgba(30, 33, 36, 1);
    --textsecondary: rgba(87, 97, 107, 1);
    --typography-body1-font-family: 'SourceSans 3-Regular', Helvetica;
    --typography-body1-font-size: 16px;
    --typography-body1-font-style: normal;
    --typography-body1-font-weight: 400;
    --typography-body1-letter-spacing: 0px;
    --typography-body1-line-height: 150%;
    --typography-body2-font-family: 'SourceSans 3-Regular', Helvetica;
    --typography-body2-font-size: 14px;
    --typography-body2-font-style: normal;
    --typography-body2-font-weight: 400;
    --typography-body2-letter-spacing: 0.15000000596046448px;
    --typography-body2-line-height: 142.99999475479126%;
    --typography-caption-font-family: 'SourceSans 3-Regular', Helvetica;
    --typography-caption-font-size: 12px;
    --typography-caption-font-style: normal;
    --typography-caption-font-weight: 400;
    --typography-caption-letter-spacing: 0.20000000298023224px;
    --typography-caption-line-height: 165.9999966621399%;
    --typography-h1-font-family: 'SourceSans 3-Regular', Helvetica;
    --typography-h1-font-size: 96px;
    --typography-h1-font-style: normal;
    --typography-h1-font-weight: 400;
    --typography-h1-letter-spacing: -1.5px;
    --typography-h1-line-height: 116.70000553131104%;
    --typography-h2-font-family: 'SourceSans 3-Regular', Helvetica;
    --typography-h2-font-size: 60px;
    --typography-h2-font-style: normal;
    --typography-h2-font-weight: 400;
    --typography-h2-letter-spacing: -0.5px;
    --typography-h2-line-height: 120.00000476837158%;
    --typography-h3-font-family: 'SourceSans 3-Regular', Helvetica;
    --typography-h3-font-size: 48px;
    --typography-h3-font-style: normal;
    --typography-h3-font-weight: 400;
    --typography-h3-letter-spacing: -0.30000001192092896px;
    --typography-h3-line-height: 116.70000553131104%;
    --typography-h4-font-family: 'SourceSans 3-Regular', Helvetica;
    --typography-h4-font-size: 34px;
    --typography-h4-font-style: normal;
    --typography-h4-font-weight: 400;
    --typography-h4-letter-spacing: -0.25px;
    --typography-h4-line-height: 123.50000143051147%;
    --typography-h5-font-family: 'SourceSans 3-Medium', Helvetica;
    --typography-h5-font-size: 24px;
    --typography-h5-font-style: normal;
    --typography-h5-font-weight: 500;
    --typography-h5-letter-spacing: 0px;
    --typography-h5-line-height: 133.39999914169312%;
    --typography-h6-font-family: 'SourceSans 3-Medium', Helvetica;
    --typography-h6-font-size: 20px;
    --typography-h6-font-style: normal;
    --typography-h6-font-weight: 500;
    --typography-h6-letter-spacing: 0.15000000596046448px;
    --typography-h6-line-height: 160.0000023841858%;
    --typography-overline-font-family: 'SourceSans 3-Medium', Helvetica;
    --typography-overline-font-size: 12px;
    --typography-overline-font-style: normal;
    --typography-overline-font-weight: 500;
    --typography-overline-letter-spacing: 0.5px;
    --typography-overline-line-height: 266.00000858306885%;
    --typography-subtitle1-font-family: 'SourceSans 3-Medium', Helvetica;
    --typography-subtitle1-font-size: 16px;
    --typography-subtitle1-font-style: normal;
    --typography-subtitle1-font-weight: 500;
    --typography-subtitle1-letter-spacing: 0.15000000596046448px;
    --typography-subtitle1-line-height: 175%;
    --typography-subtitle2-font-family: 'SourceSans 3-Medium', Helvetica;
    --typography-subtitle2-font-size: 14px;
    --typography-subtitle2-font-style: normal;
    --typography-subtitle2-font-weight: 500;
    --typography-subtitle2-letter-spacing: 0.10000000149011612px;
    --typography-subtitle2-line-height: 157.00000524520874%;
    --warningcontrast: rgba(0, 0, 0, 0.87);
    --warningdark: rgba(178, 135, 4, 1);
    --warningmain: rgba(255, 193, 7, 1);
    --warningstatesfocusvisible: rgba(255, 193, 7, 0.3);
    --warningstateshovered: rgba(255, 193, 7, 0.04);
    --warningstatesoutlinedborder: rgba(255, 193, 7, 0.5);
}
