.progress-circular {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.progress-circular .ring {
    background-image: url(../../../static/img/background-18.png);
    background-size: 100% 100%;
    position: relative;
}

.progress-circular .line {
    position: absolute;
}

.progress-circular .div {
    left: 0;
    position: absolute;
    top: 0;
}

.progress-circular .sixteen-px {
    height: 16px;
    margin-left: -1394px;
    width: 16px;
}

.progress-circular .thirty-two-px {
    height: 32px;
    margin-left: -1308px;
    width: 32px;
}

.progress-circular .thirty-two-px.color-0-primary {
    margin-top: -626px;
}

.progress-circular .sixteen-px.color-0-inherit {
    margin-top: -794px;
}

.progress-circular .thirty-two-px.color-0-inherit {
    margin-top: -786px;
}

.progress-circular .color-0-secondary.sixteen-px {
    margin-top: -714px;
}

.progress-circular .thirty-two-px.color-0-secondary {
    margin-top: -706px;
}

.progress-circular .color-0-primary.sixteen-px {
    margin-top: -634px;
}

.progress-circular .size-0-sixteen-px {
    height: 16px;
    width: 16px;
}

.progress-circular .size-0-thirty-two-px {
    height: 32px;
    width: 32px;
}

.progress-circular .ring.sixteen-px .line {
    height: 18px;
    left: 1px;
    top: -1px;
    width: 16px;
}

.progress-circular .ring.thirty-two-px .line {
    height: 36px;
    left: 2px;
    top: -2px;
    width: 32px;
}
